body {
    background-color: rgb(99, 76, 66);
}


#shrek {
    animation-name: shrinkgrow;
    animation-duration: 1s;
    animation-iteration-count: infinite
}

@keyframes shrinkgrow {
    from {
        height: 10px;
    }

    to {
        height: 200px;
    }
}